.tasks{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 45px;
}
.lists{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: gray;
    font-size: 45px;
}
.card{
    width: 200px;
    height: 300px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 4px 4px 15px gray;
}
.child2{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.inside-card{
    margin-left: 50px;
}
.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: red;
    font-size: 25px;
}
.completed-task{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-decoration-style: solid;
    text-decoration-color: red;
    text-decoration: line-through;
}
.parent{
    width: 1000px;
    padding: 50px;
    margin: auto;
    
}
.add-list{
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 23px;
    position: absolute;
    top: 10px;
    right: 0px;
}
.child1{
    position: relative;

}
.pending-task{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
input{
    margin-left: 10px;
}
.icon{
    position: absolute;
    right: 90px;
    top: 10px;
    color: red;
    font-weight: lighter;
    font-size: 30px;
}
.link{
    position: relative;
}
.link-text{
    position: absolute;
    right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    font-size: 15px;
    font-weight: 400px;

}
@media screen and (min-width:320px) and (max-width:480px){
    .parent{
        width: 200px;
    }
    .tasks{
        font-size: 30px;
    }
    .lists{
        font-size: 30px;
    }
    .add-list{
        display: none;
    }
    .icon{
        right: 0px;
    }
    
    .child2{
        display: block;
    }
    .card{
        border-color: white;
        height: auto;
        margin-top: 30px;
    }
    hr{
        display: none;
    }
    .completed-task{
        display: none;
    }
    .pending-task{
        display: none;
    }
    #check-box1{
        display: none;
    }
    #check-box2{
        display: none;
    }
    #check-box3{
        display: none;
    }
    .inside-card{
        margin: auto;
        padding-left: 5px;
    }
    .label{
        color: gray;
        font-size: 20px;
    }
}